<ion-app>
  <ion-split-pane (ionSplitPaneVisible)="handleSplitPaneVisible($event)" contentId="content" when="md">
    <ion-menu [swipeGesture]="false" contentId="content" type="overlay">
      <div style="background: #000; padding: 20px 20px 0 20px;">
        <img src="/assets/RadioBoise-Logo.png">
      </div>
      <div style="background: #000;">
        <ion-grid *ngIf="currentTrack" style="margin-top: 20px;">
          <ion-row>
            <ion-col size="auto">
              <ion-fab-button size="large" (click)="toggleAudio()" color="warning">
                <ion-icon class="player-control" *ngIf="playerStatus === 'paused' || playerStatus === ''" name="play"></ion-icon>
                <ion-icon class="player-control" *ngIf="playerStatus === 'playing'" name="pause"></ion-icon>
                <ion-spinner class="player-control" *ngIf="playerStatus === 'loading'" color="light" name="crescent"></ion-spinner>
              </ion-fab-button>
            </ion-col>
            <ion-col>
              <!-- <ion-text style="margin-top: 10px;" color="medium">Current Show:</ion-text> -->
              <h2 style="margin-top: 0px; margin-bottom: 0px;">{{ currentTrack.artist }}</h2>
              <ion-text style="margin-top: 10px;" color="medium">{{ currentTrack.song }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="currentTrack" class="track-progress-slider">
          <ion-grid *ngIf="currentTrack.type !== 'livestream'">
            <ion-row>
              <ion-col size="auto">
                <ion-button (click)="seekBackward()" fill="clear" size="small">
                  <ion-icon slot="icon-only" name="refresh" style="-webkit-transform: scaleX(-1);transform: scaleX(-1);"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-range
                  min="0" max="100"
                  [disabled]="playerStatus === 'loading'"
                  [(ngModel)]="percentElapsed"
                  (click)="stopProp($event)"
                  (ionChange)="calculateSeekTime($event)"
                  (ionStart)="pauseSeeking($event)"
                  (ionEnd)="seekToTime($event)"
                ></ion-range>
              </ion-col>
              <ion-col size="auto">
                <ion-button (click)="seekForward()" fill="clear" size="small">
                  <ion-icon slot="icon-only" name="refresh"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
            
        </div>
        <div  *ngIf="currentTrack && currentTrack.type !== 'livestream'" class="track-time-layout">
          <div class="track-time-elapsed">
            <span *ngIf="!isSeeking">{{ audioElement.currentTime | timeElapsed }}</span>
            <span *ngIf="isSeeking">{{ seekingTimeElapsed | timeElapsed }}</span>
          </div>
          <div class="track-time-spacer"></div>
          <div class="track-time-remaining">
            <span>{{ audioElement.currentTime | timeRemaining:audioElement.duration }}</span>
          </div>
        </div>
      </div>

      <div class="background-texture">
        <div class="background-texture-image">
          <img [src]="'https://cdn-profiles.tunein.com/s136895/images/logog.png?t=152180'">
        </div>
      </div>
      <ion-content style="--background: transparent">
        <ion-card *ngFor="let track of tracks | slice:0:1">
          <ion-grid>
            <ion-row>
              <ion-col>
                Recent Track: <span class="float: right">{{ track.start | date:'h:mm a' }}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <!-- <ion-col size="4">
                <img src="https://is3-ssl.mzstatic.com/image/thumb/Music128/v4/46/89/f2/4689f288-ed9e-6bb5-af37-c98b58b6733b/4250506825393_1448.jpg/170x170bb.jpg">
              </ion-col> -->
              <ion-col size="12">
                <ion-item lines="none">
                  <ion-label>
                    <h1>{{ track.song.artist }}</h1>
                    <h2>{{ track.song.title }}</h2>
                    <p>{{ track.song.album }}</p>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              
            </ion-row>
          </ion-grid>
        </ion-card>

          <ion-item>
            <ion-label>
              <h3>Recently Played:</h3>
            </ion-label>
            <ion-button (click)="getTracks()" fill="clear">Refresh</ion-button>
          </ion-item>
          <ion-list *ngIf="tracksRequestComplete" style="background: transparent">
            <ion-item *ngFor="let track of tracks | slice:1:20" style="--background: transparent;" button>
              <ion-label>
                <h2>{{ track.song.artist }}</h2>
                <p>{{ track.song.title }}</p>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="!tracksRequestComplete" style="background: transparent">
            <ion-item style="--background: transparent;">
              <ion-label>
                <h1>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </h1>
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item style="--background: transparent;">
              <ion-label>
                <h1>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </h1>
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item style="--background: transparent;">
              <ion-label>
                <h1>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </h1>
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item style="--background: transparent;">
              <ion-label>
                <h1>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </h1>
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item style="--background: transparent;">
              <ion-label>
                <h1>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </h1>
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet role="contentinfo" id="content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
