<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      On Air
      <!-- <ion-img style="height: 40px;" src="/assets/RadioBoise-Logo.png"></ion-img> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">On Air</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <!-- <div class="ion-padding"> -->
    <h6 style="margin: 20px 0 0 20px;">Listen Now:</h6>
    <ion-card>
      <!-- <ion-list-header>KRBX</ion-list-header> -->
      <ion-item>

        <ion-fab-button *ngIf="currentTrack.type !== 'livestream'" (click)="playStream()" slot="start" color="light" fill="outline">
          <ion-icon name="play-outline" color="warning"></ion-icon>
        </ion-fab-button>
        <ion-thumbnail *ngIf="currentTrack.type === 'livestream'" style="margin-right: 32px;" slot="start">
          <div style="padding: 10px;">
            <svg-bars [class.playing]="playerStatus === 'playing' "></svg-bars>
          </div>
        </ion-thumbnail>
        <ion-label>
          <h1>Live</h1>
          <p>KRBX</p>
        </ion-label>
      </ion-item>
    </ion-card>
    
  <!-- </div> -->
  <h6 style="margin: 20px 0 0 20px;">Current Show:</h6>
  <ion-card style="margin-top: 10px;">
    <ion-card-header>
      <ion-card-title>
        <h2>Antler Crafts</h2>
      </ion-card-title>
      <ion-card-subtitle>
        with GILBERT
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><ion-text color="medium">9:00 AM – 12:00 PM MT</ion-text></p>
      <p>Weekly radio show in Boise, Idaho hosted by Eric Gilbert on Radio Boise KRBX 89.9 FM featuring local / regional / national touring and emerging artists with a strong focus on artists that have played or will be playing in the Treasure Valley http://www.facebook.com/antlercrafts</p>
    </ion-card-content>
  </ion-card>

  <h6 style="margin: 0 0 0 20px;">On Next:</h6>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>Strange Feeling ℗</h2>
      </ion-card-title>
      <ion-card-subtitle>
        with Brion Rushton ™
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><ion-text color="medium">12:00 PM - 03:00 PM MT</ion-text></p>
      <p>•haunted radio•</p>
    </ion-card-content>
  </ion-card>

</ion-content>
