<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      On Air
      <!-- <ion-img style="height: 40px;" src="/assets/RadioBoise-Logo.png"></ion-img> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">On Air</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <!-- <div class="ion-padding"> -->
    <h6 style="margin: 20px 0 0 20px;">Listen Now:</h6>
    <ion-card>
      <!-- <ion-list-header>KRBX</ion-list-header> -->
      <ion-item>

        <ion-fab-button *ngIf="currentTrack.type !== 'livestream'" (click)="playStream()" slot="start" color="light" fill="outline">
          <ion-icon name="play-outline" color="warning"></ion-icon>
        </ion-fab-button>
        <ion-thumbnail *ngIf="currentTrack.type === 'livestream'" style="margin-right: 32px;" slot="start">
          <div style="padding: 10px;">
            <svg-bars [class.playing]="playerStatus === 'playing' "></svg-bars>
          </div>
        </ion-thumbnail>
        <ion-label>
          <h1>Live</h1>
          <p>KRBX</p>
        </ion-label>
      </ion-item>
    </ion-card>
    
  <!-- </div> -->
  <h6 style="margin: 20px 0 0 20px;">Current Show:</h6>
  <ion-card style="margin-top: 10px;">
    <ion-card-header>
      <ion-card-title>
        <h2>The Daft Manifesto</h2>
      </ion-card-title>
      <ion-card-subtitle>
        with DJ POLE-ERD
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><ion-text color="medium">05:00 PM - 07:00 PM MT</ion-text></p>
      <p>A free-form community radio show on Boise's KRBX 89.9 FM. Slightly more post-punk than pop, but not without plenty of hooks. https://www.facebook.com/TheDaftManifesto</p>
    </ion-card-content>
  </ion-card>

  <h6 style="margin: 0 0 0 20px;">On Next:</h6>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>Range Life</h2>
      </ion-card-title>
      <ion-card-subtitle>
        with DJ CHESS
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><ion-text color="medium">07:00 PM - 09:00 PM MT</ion-text></p>
      <p>Indie rock, electronic music, information valuable and trivial, mood, fun.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
