<ion-toolbar id="audiobar" style="border-top: 1px solid var(--ion-color-light); --background: #000;" translucent="true" button>
  <div slot="start">
    <ion-button fill="clear" (click)="toggleAudio($event)" [disabled]="playerStatus === 'loading'" type="button">
      <ion-icon class="player-control" *ngIf="playerStatus === 'paused' || playerStatus === ''" name="play" slot="icon-only"></ion-icon>
      <ion-icon class="player-control" *ngIf="playerStatus === 'playing'" name="pause" slot="icon-only"></ion-icon>
      <ion-spinner class="player-control" *ngIf="playerStatus === 'loading'" color="dark" name="crescent" slot="icon-only"></ion-spinner>
    </ion-button>
  </div>
  <div>
    <h5 style="margin: 0">{{ track.artist }}</h5>
    <h6 style="margin: 0; font-size: 0.8em;"><ion-text color="medium">{{ track.song }}</ion-text></h6>
  </div>
  <!-- <div slot="end">
    <ion-button (click)="stop()" fill="clear">
      <ion-icon class="player-control" name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </div> -->
</ion-toolbar>

<ion-modal
  trigger="audiobar"
  [swipeToClose]="true"
  [breakpoints]="[0.1, 0.5, 1]"
  [swipeToClose]="true"
  [presentingElement]="routerOutlet.nativeEl"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Now Playing</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="background-texture">
      <div class="background-texture-image">
        <img [src]="track.image || 'https://cdn-profiles.tunein.com/s136895/images/logog.png?t=152180'">
      </div>
    </div>
    <ion-content style="--background: transparent">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <img src="https://is3-ssl.mzstatic.com/image/thumb/Music128/v4/46/89/f2/4689f288-ed9e-6bb5-af37-c98b58b6733b/4250506825393_1448.jpg/170x170bb.jpg">
            </ion-col>
            <ion-col size="8">
              <ion-item>
                <ion-label>
                  <h1>Lambchop</h1>
                  <h2>Gone Tomorrow</h2>
                  <p>Mr. M</p>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>

          </ion-row>
        </ion-grid>
        <div class="ion-padding">
          <div class="track-progress-slider">
            <ion-range
              min="0" max="100"
              [disabled]="playerStatus === 'loading'"
              [(ngModel)]="percentElapsed"
              (click)="stopProp($event)"
              (ionStart)="pauseSeeking($event)"
              (ionEnd)="seekToTime($event)"
            ></ion-range>
          </div>
          <div class="track-time-layout">
            <div class="track-time-elapsed">
              <span *ngIf="!isSeeking">{{ audioElement.currentTime | timeElapsed }}</span>
              <span *ngIf="isSeeking">{{ seekingTimeElapsed | timeElapsed }}</span>
            </div>
            <div class="track-time-spacer"></div>
            <div class="track-time-remaining">
              <span>{{ audioElement.currentTime | timeRemaining:audioElement.duration }}</span>
            </div>
          </div>
        </div>
      </ion-card>
    </ion-content>
    <ion-footer>
      <ion-toolbar></ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>